h1 {
    font-size: 40px;
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
    margin: 0;
}
h3 {
    text-align: center;
    padding: 20px;
}

.mediaFlex {
    display: flex;
}

#eliotIcon  {
    max-height: 35px;
    margin:0;
}

div.moonBackground {
    background-image: url("https://res.cloudinary.com/margaretkellogg/image/upload/v1601998279/Spielberg/moonNoElliott_uqsrxq.png");
    background-size: 395px;
    background-position: center, top;
    background-repeat: no-repeat;
    background-color: #181835;
    height: 600px;
}

.headerImg {
width: 70%;
height: auto;
background-color: slategrey;
display: block;
margin-left: auto;
margin-right: auto;
}

.photoFlex{
    max-height: 250px;
    width: auto;
}

.imgFlex {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-evenly;
}
.films {
    padding-left: 2%;
}

th {
    padding: 8px;
}

ol{
    width: 95%;
}

div.films {
    margin-left: 15px;
    background-color: white;
    padding: 5px;
}

.flying {
    padding-top: 100px;
    padding-left: 39%;
    animation-name: Elliot;
    animation-duration: 10s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

.photogrid {
    display: grid;
    grid-template-columns: auto auto auto;
}

.griditem {
    max-width: 415px;
}

.headerSchindlerImg {
    max-width: 100%;
}

/*jones*/
#raidersH {
    background-color:  rgb(241, 241, 200);
    margin-bottom: 0;
    padding-top: 20px;
}
.raiders {
    border-left: solid;
    border-color: goldenrod;
    border-width: 10px;
    background-color: rgb(241, 241, 200);
}

#doomH {
    padding-top: 20px;
    background-color:  rgb(146, 145, 146);
    margin-bottom: 0;
}
.doom {
    border-left: solid;
    border-color: rgb(39, 35, 59), 3px;
    border-width: 10px;
    background-color: rgb(146, 145, 146);
}

#crusadeH {
    background-color: white;
    padding-top: 20px;
    margin-bottom: 0;
}
.crusade {
    border-left: solid;
    border-color:darkred;
    border-width: 10px;
    background-color: white;
}

#skullH {
    padding-top: 20px;
}
.skull {
    border-left: solid;
    border-color:grey;
    border-width: 10px;
    background-color: rgb(243, 233, 208);
}

.leftFlexedPics {
    height: 335px;
    width: 360px;
    margin-top:0;
}
.rightFlexedP {
    float: right;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    background-color: white;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    opacity: 80%;
}



.padLeft {
    padding-left: 10px;
}
.flexJones {
    display: flex;
    flex-direction: row;
    margin: 0;
}

@keyframes Elliot {
    0% {
        padding-top: 100px;
        padding-left: 39%;
    }
    100% {
        padding-top: 85px;
        padding-left: 55%;
    }
}

body {
    background-color: whitesmoke;
}
@media only screen and (max-width: 610px) {
    h1 {
        font-size: 30px;
    }
    .mediaFlex {
        display: block;
    }

    .flying {
        padding-left: 30%;
    }

    .photogrid {
        display: grid;
        grid-template-columns: auto;
    }

    @keyframes Elliot{
        0% {
            padding-top: 100px;
            padding-left: 30%;
        }
        100% {
            padding-top: 85px;
            padding-left: 55%;
        }
    }
}
@media only screen and (max-width: 850px) {
    .flexJones {
        display: block;
    }
    .rightFlexedP {
        float: left;
        font-size: 16px;
        margin: 0;
        padding-bottom: 20px;
    }
}

@media only screen and (max-width: 650px) {
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 18px;
    }
    .films {
        font-size: small;
    }
    .headerImg {
        width: 100%;
    }



}
